.ty-wrapper {
  color: #4A5960;
  overflow: hidden;
}

header {
  min-height: 103px;
  position: relative;
  padding: 20px 0 30px 10px;
}

.ty-header-div {
  max-width: 1280px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 24px;
  position: relative;
  z-index: 1;
}

.ty-title {
  color: #36474F;
}

.ty-content {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 10000px;
  padding-right: 10000px;
  margin-left: -10000px;
  margin-right: -10000px;
  background: #F7F7F7;
}

.ty-showcase {
  box-sizing: border-box;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 64px;
  max-width: 1280px;
}

.ty-showcase-content {
  margin: 0 8px;
}

.ty-text-body {
  margin-bottom: 16px;
}

.demo-container {
  min-width: 430px;
  position: relative;
  background-color: #F7F7F7;
  border-color: #F1F1F1;
  border-radius: 2px;
  padding: 20px 10px;
  color: #666;
  display: block;
}

.demo-container, .demo-container *.demo-container {
    box-sizing: border-box;
}

.ty-center.ty-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-it.ty-app {
  margin-right: 35px;
}
